*{
    box-sizing: border-box;
}
body{
    background-color:black;
    height:600px; 

}
#container{
    width:400px;
    height:500px;
    margin:100px auto;
    position: relative;

}
#circel-1{
    z-index: 0;
    width:150px;
    height:150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background:linear-gradient(180deg,rgb(10, 69, 207),rgb(94, 139, 218));
    

}
#circel-2{
    z-index: 1;
    width:150px;
    height:150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background:linear-gradient(90deg,rgb(223, 115, 20),rgb(218, 135, 64));
    position: absolute;
    top:350px;
    left:250px;
}
#form{
    z-index: 2;
    width:300px;
    height:350px;
    background-color:rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    position: relative;
    top:-70px;
    left: 75px;
    color:white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    font-family:Arial, Helvetica, sans-serif;
    
}
#login{
    margin-top:40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    
}
#input{
    margin-left:30px;
    margin-right:30px;
}
input{
    background-color:rgba(255,255,255,0.07);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    width:100%;
    height:30px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 10px;
}
button{
    background-color: white;
    text-align: center;
    width:100%;
    height:30px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 20px;
}
